<table>
  <tr>
    <td style="padding-right: 5px; padding-left: 5px;">
      <a target="_blank" href="https://fastheating.be"><img src="https://fastheating.be/assets/common/header.png"
          height="60%"></a>
    </td>
    <td>
      <div style="border-left:1px solid #fec506;height:100px"></div>
    </td>
    <td>
      <table>
        <tr>
          <td colspan="4">
            <h1 class="header">Factuur</h1>
          </td>
        </tr>
        <tr>
          <td style="padding-right: 5px; padding-left: 5px;">
            <table>
              <tr>
                <td>Ondernemingsnr.</td>
                <td>0869.704.770</td>
              </tr>
              <tr>
                <td>KBC</td>
                <td>BE53 7350 1011 3953</td>
              </tr>
              <tr>
                <td>BNP</td>
                <td>BE52 0016 5683 8509</td>
              </tr>
              <tr>
                <td>RPR Antwerpen</td>
                <td>Reg 02 2500</td>
              </tr>
            </table>
          </td>
          <td>
            <div style="border-left:1px solid #fec506;height:80px"></div>
          </td>
          <td style="padding-right: 5px; padding-left: 5px;">
            <table>
              <tr>
                <td>
                  <img src="https://fastheating.be/assets/email/location.png" style="height: 3%;" />
                </td>
                <td>
                  <a target="_blank" href="https://goo.gl/maps/nsFyPngZ7zXTPuJV6"
                    style="color: black; text-decoration: none;">
                    Europalaan 31 2620 Hemiksem
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="https://fastheating.be/assets/email/phone.png" style="height: 3%;" />
                </td>
                <td>
                  <a href="tel:0477 70 60 40" style="color: black; text-decoration: none;">0477 70 60 40</a>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="https://fastheating.be/assets/email/mail.png" style="height: 3%;" />
                </td>
                <td>
                  <a href="mailto:fastheating@skynet.be"
                    style="color: black; text-decoration: none;">fastheating@skynet.be</a>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="https://fastheating.be/assets//email/link.png" style="height: 3%;" />
                </td>
                <td>
                  <a target="_blank" href="https://fastheating.be"
                    style="color: black; text-decoration: none;">www.fastheating.be</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <hr style="height:0.5px;border-width:0;color:#fec506;;background-color:#fec506;">
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td>Factuurnummer:</td>
          <td>F20 117</td>
        </tr>
        <tr>
          <td>Factuurdatum:</td>
          <td>3/09/2020</td>
        </tr>
      </table>
    </td>
    <td colspan="4">
      Taymans-Van Hacht<br />
      Theophiel Roucourtstraat 28<br />
      2600 Berchem</td>
  </tr>
  <tr>
    <td colspan="5">Beschrijving:</td>
  </tr>
  <tr>
    <td colspan="5">
      Plaatsen van door u aangekochte sanitaire artikelen van Facq voor leidingwerk sanitair en cv .<br />
      Hulpstukken door mij geleverd : 180 €<br />
      Werkuren : 90,5u x 46 € = 4163 €<br />
      I-drain Liquid douchegoot 700 mm : 273 €<br />
      Klokput kerdi Viega horizontaal : 44,04 €<br />
      Opzetstuk + rooster Viega 10x10 cm inox : 135,70 €<br />
      Totaal : 4615,74 €<br />
      Werfadres : Willem Van Laarstraat 7 2600 Berchem .<br />
    </td>
  </tr>
  <tr>
    <td>
      Voorwaarden:<br />Een voorwaarde
    </td>
    <td>
      <table>
        <tr>
          <td>Totaal exclusief BTW:</td>
          <td>€ 4.615,74</td>
        </tr>
        <tr>
          <td>BTW: 6%</td>
          <td>€ 276,94</td>
        </tr>
        <tr>
          <td>Totaal inclusief BTW:</td>
          <td>€ 4.892,68</td>
        </tr>
      </table>
  </tr>
  <tr>
    <td colspan="5">Betalingswijze: Rekeningnummer</td>
  </tr>
  <tr>
    <td> <a target="_blank" href="https://fastheating.be"><img src="https://fastheating.be/assets/common/header.png"
          height="60%"></a></td>
  </tr>
</table>