<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list [cols]="cols" rowHeight="175px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            Klanten
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <button mat-button color="primary" routerLink="/customers">Klantenlijst</button>
            <button mat-button color="primary" routerLink="/customer">Nieuwe klant</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>